name: Build and publish develop image

on:
    push:
      branches:
        - master
        - test

jobs:
    build:
        runs-on: ubuntu-latest
        name: Build image job
        steps:
            - name: Checkout master
              uses: actions/checkout@master
            - name: Build and publish image
              uses: ilteoood/docker_buildx@master
              with:
                tag: test-beta
                imageName: rclone/rclone
                platform: linux/amd64,linux/386,linux/arm64,linux/arm/v7
                publish: true
                dockerHubUser: ${{ secrets.DOCKER_HUB_USER }}
                dockerHubPassword: ${{ secrets.DOCKER_HUB_PASSWORD }}
